/* ALL WORKOUTS */
.all-workouts--container {
    grid-template-rows: 40px 1fr;
    padding: 50px;
}

.all-workouts--container h3 {
    text-align: center;
    font-size: 40px;
}

.all-workouts--tables-container {
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.all-workouts--tables {
    min-width: 400px;
}

.all-workouts--tables td:first-child {
    text-align: start;
    width: 300px;
}

/* DELETE WORKOUT BUTTON */
.all-workouts--delete-btn {
    justify-self: start;
    cursor: pointer;
    border: solid 1px white;
    color: white;
    padding: 3px 10px;
    margin-top: 5px;
    font-size: 18px;
    background-color: #11032a;
}

.all-workouts--delete-btn:hover {
    color: red;
}

.all-workouts--delete-btn:active {
    transform: scale(0.95);
}