.current-workout--container {
    grid-template-rows: 40px repeat(2, auto);
    padding: 50px;
    gap: 10px;
}

.current-workout--container > h3 {
    text-align: center;
    font-size: 40px;
}

.current-workout--workout-table {
    margin-top: 20px;
}

.current-workout--container > p {
    margin-top: 10px;
    line-height: 2;
    font-size: 28px;
    text-align: center;
    color: #99fbfb;
}

.current-workout--btns-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.current-workout--btns-container > button {
    cursor: pointer;
    border: none;
    height: fit-content;
    color: white;
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #11032a;
    box-shadow: 0 0 1px white, 0 0 3px white;
}

.current-workout--complete-btn:hover {
    color: #07bd07;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.current-workout--delete-btn:hover {
    color: red;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.current-workout--btns-container > button:active {
    transform: scale(0.95);
}