.current-workout--container {
    grid-template-rows: 40px repeat(2, auto);
    align-content: start;
    padding: 50px;
    gap: 10px;
}

.current-workout--container > h3 {
    text-align: center;
    font-size: 36px;
}

.current-workout--workout-table {
    margin-top: 20px;
}

.current-workout--container > p {
    margin-top: 10px;
    line-height: 2;
    font-size: 28px;
    text-align: center;
    color: #99fbfb;
}

.current-workout--btns-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.current-workout--btns-container > button {
    cursor: pointer;
    border: none;
    height: fit-content;
    color: white;
    padding: 3px 10px;
    font-size: 20px;
    border-radius: 5px;
    background-color: #11032a;
    box-shadow: 0 0 1px white, 0 0 3px white;
}

.current-workout--complete-btn:hover {
    color: #07bd07;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.current-workout--delete-btn:hover {
    color: red;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.current-workout--btns-container > button:active {
    transform: scale(0.95);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .current-workout--container {
        padding: 40px 20px;
    }
    .current-workout--container > h3 {
        font-size: 36px;
    }
    .current-workout--container > p {
        line-height: 1.8;
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .current-workout--btns-container > button {
        padding: 3px 2px;
        font-size: 17px;
    }
}

@media screen and (max-width: 500px) {
    .current-workout--container {
        grid-template-rows: 50px repeat(2, auto);
        padding: 30px 10px;
    }
    .current-workout--container > p {
        margin-top: 10px;
        font-size: 20px;
    }
    .current-workout--btns-container > button {
        font-size: 16px;
    }
}

@media screen and (max-width: 426px) {
    .current-workout--container > h3 {
        font-size: 30px;
    }
    .current-workout--btns-container > button {
        font-size: 15px;
    }
}

@media screen and (max-width: 376px) {
    .current-workout--container > h3 {
        font-size: 26px;
    }
    .current-workout--container > p {
        font-size: 18px;
    }
    .current-workout--btns-container > button {
        font-size: 14px;
    }
}

@media screen and (max-width: 320px) {
    .current-workout--container {
        grid-template-rows: 40px repeat(2, auto);
    }
    .current-workout--container > h3 {
        font-size: 24px;
    }
    .current-workout--container > p {
        font-size: 16px;
    }
    .current-workout--btns-container > button {
        font-size: 13px;
    }
}
