.create-new-workout {
    grid-template-rows: 60px repeat(3, auto) 1fr;
    gap: 20px;
    min-width: 500px;
    padding: 50px;
    justify-items: center;
}

.create-new-workout > h3 {
    font-size: 40px;
}

/* ADD EXERCISE HINT */
.add-exercise-hint {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 500;
    color: #99fbfb;
}

/* ADD EXERCISE BUTTONS */
.add-exercise-btn-container {
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    align-self: center;
}

.add-exercise-btn, .see-example-exercises-btn {
    padding: 3px 10px;
    color: white;
    background-color: #11032a;
    font-size: 30px;
    border: none;
    box-shadow: 0 0 1px white, 0 0 3px white;
    border-radius: 5px;
}

.add-exercise-btn:hover, .see-example-exercises-btn:hover {
    cursor: pointer;
    color: #07bd07;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.add-exercise-btn:active, .see-example-exercises-btn:active {
    transform: scale(0.95);
}

/* WORKOUT TABLE */
table, th, td {
  border: solid 1px white;
  font-size: 24px;
}

table {
    border-spacing: 0;
    min-width: 400px;
    margin-top: 5px;
}

th {
    background-color: dodgerblue;
}

th:first-child {
    text-align: start;
}

th, td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
}

th:last-child, td:last-child {
    border-right-width: 0;
}
  
tr:last-child td {
    border-bottom-width: 0;
}

td:nth-last-child(-n + 4) {
    text-align: center;
}

.remove-exercise-btn {
    cursor: pointer;
}

/* CONFIRM WORKOUT BUTTON */
.confirm-workout-btn {
    justify-self: center;
    margin-top: 20px;
    color: white;
    font-size: 24px;
    padding: 3px 10px;
    background-color: #11032a;
    border: none;
    box-shadow: 0 0 1px white, 0 0 3px white;
    border-radius: 10px;
    transition: 0.3s ease;
}

.confirm-workout-btn:hover {
    cursor: pointer;
    color: orange;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.confirm-workout-btn:active {
    transform: scale(0.95);
}

/* ADD EXERCISE FORM */
.add-exercise-form-container {
    background: rgba(0,0,0,.5);
    padding: 30px 50px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    place-content: center;
}

.add-exercise-form-container > h3 {
    font-size: 32px;
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    margin-bottom: 30px;
    text-align: center;
}

.new-workout-form {
    min-width: 400px;
}

.new-workout-form input, form label {
    display: block;
}

.new-workout-form label {
    padding: 5px 0;
}

.new-workout-form input {
    padding: 5px;
}

.add-exercise-input-container input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #4ef8f8;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
}

.add-exercise-input-container label {
    padding: 10px 0;
    font-size: 26px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

/* FORM SUBMIT/CANCEL BUTTONS */
.add-exercise-submit-btn, .cancel-add-exercise-btn {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 22px;
    letter-spacing: 2px;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    transition: 0.5s;
}

.add-exercise-submit-btn {
    color: #03ac03;
}

.cancel-add-exercise-btn {
    color: red;
    margin-top: 10px;
}

.add-exercise-submit-btn:hover, .cancel-add-exercise-btn:hover {
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,0 0 20px #03e9f4,0 0 40px #03e9f4,0 0 60px #03e9f4;
}

.add-exercise-submit-btn:hover {
    background-color: #03ac03;
}

.cancel-add-exercise-btn:hover {
    background-color: red;
}

.add-exercise-submit-btn:active, .cancel-add-exercise-btn:active {
    transform: scale(0.95);
}