/* WORKOUTS */
.workouts-container {
    min-height: 100vh;
    justify-items: center;
    background: linear-gradient(#1d1231, #411960);
}

.workouts-content {
    grid-template-rows: 60px repeat(2, auto) 1fr;
    min-height: 100vh;
    width: 100%;
    padding: 50px 200px;
    justify-items: center;
    color: white;
}

.workouts-header {
    font-size: 60px;
    opacity: 0;
    animation: 2s ease 0.2s forwards fade-in;
}

.workouts-info-container {
    place-items: center;
    font-size: 24px;
    opacity: 0;
    animation: 2s ease 0.5s forwards fade-in;
}

.workouts-info-container > h3 {
    margin-top: 30px;
}

/* BUTTONS */
.button-options {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
    opacity: 0;
    animation: 2s ease 0.8s forwards fade-in;
}

.button-options button {
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.create-new-workout-btn {
    background-color: skyblue;
}

.create-new-workout-btn:hover {
    cursor: pointer;
    background-color: #4693b2;
    transform: translateY(3px);
}

.view-current-workout-btn {
    background-color: fuchsia;
}

.view-current-workout-btn:hover {
    cursor: pointer;
    background-color: #9c049c;
    transform: translateY(3px);
}

.view-all-workouts-btn {
    background-color: orange;
}

.view-all-workouts-btn:hover {
    cursor: pointer;
    background-color: #c16c06;
    transform: translateY(3px);
}

/* WORKOUTS SECTIONS */
.workouts-sections {
    opacity: 0;
    animation: 2s ease 1s forwards fade-in; 
}