/* WORKOUTS */
.workouts-container {
    grid-template-rows: 60px repeat(2, auto)1fr;
    min-height: 100vh;
    padding: 50px 200px;
    justify-items: center;
    background: linear-gradient(#1d1231, #411960);
    color: white;
}

.workouts-header {
    font-size: 44px;
}

.workouts-info-container {
    place-items: center;
    font-size: 20px;
}

.workouts-info-container > h3 {
    margin-top: 30px;
}

/* BUTTONS */
.button-options {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.button-options button {
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.create-new-workout-btn {
    background-color: skyblue;
}

.create-new-workout-btn:hover {
    cursor: pointer;
    background-color: #4693b2;
    transform: translateY(3px);
}

.view-current-workout-btn {
    background-color: fuchsia;
}

.view-current-workout-btn:hover {
    cursor: pointer;
    background-color: #9c049c;
    transform: translateY(3px);
}

.view-all-workouts-btn {
    background-color: orange;
}

.view-all-workouts-btn:hover {
    cursor: pointer;
    background-color: #c16c06;
    transform: translateY(3px);
}