/* EXERCISES CONTAINER */
.exercises-container {
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    justify-items: center;
    padding: 50px;
    color: white;
    background: linear-gradient(#1d1231, #411960);
    padding-bottom: 20px;
}

/* EXERCISE CONTAINER HEADERS */
.workout-preview-header  {
    align-items: end;
    padding-bottom: 30px;
    font-size: 40px;
    height: 80px;
    opacity: 0;
    animation: 1s ease 0.2s forwards fade-in;
}

.exercises-header {
    font-size: 60px;
    height: 80px;
    opacity: 0;
    animation: 1s ease 0.4s forwards fade-in;
}

/* WORKOUT PREVIEW */
.workout-preview-container {
    padding: 0 10px;
}

.workout-preview-workout-btn {
    border: none;
    color: white;
    padding: 3px 10px;
    margin-bottom: 20px;
    font-size: 22px;
    border-radius: 5px;
    background-color: #11032a;
    box-shadow: 0 0 1px white, 0 0 3px white;
    opacity: 0;
    animation: 1s ease 0.3s forwards fade-in;
}

.workout-preview-workout-btn:hover {
    cursor: pointer;
    color: #07bd07;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.workout-preview-workout-btn:active {
    transform: scale(0.95);
}

.workout-preview-table {
    opacity: 0;
    animation: 1s ease 0.3s forwards fade-in;
}

/* EXERCISES LIST */
.exercises-list {
    opacity: 0;
    animation: 1s ease 0.5s forwards fade-in;
    margin: 10px;
}

/* INDIVIDUAL EXERCISE ITEM */
.exercise-item-container {
    grid-template-columns: 300px repeat(2, 110px) repeat(2, 1fr) 50px;
    gap: 20px;
    padding: 10px 0;
    height: fit-content;
    align-items: center;
    border-bottom: solid 1px gray;
}

.exercise-name {
    font-size: 24px;
    font-weight: bold;
    border-left: none;
    align-self: end;
}

/* SETS/REPS */
.sets-container, .reps-container {
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    justify-items: center;
    font-size: 16px;
}

.count-container {
    grid-template-columns: repeat(3, auto);
    gap: 7px;
    justify-items: center;
    align-items: center;
}

.count-container > * {
    width: 30px;
    height: 30px;
    place-content: center;
    border-radius: 4px;
    font-size: 24px;
    color: white;
    border: none;
    background-color: #11032a;
    box-shadow: 0 0 1px white, 0 0 3px white;
}

.add-btn:hover {
    cursor: pointer;
    color: #07bd07;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.minus-btn:hover {
    cursor: pointer;
    color: red;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.add-btn:active, .minus-btn:active {
    transform: scale(0.95);
}

/* ADD TO WORKOUT/FAVOURITES BUTTONS */
.exercise-btn-container {
    font-size: 18px;
    align-self: end;
}

.exercise-btn-container > button {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #11032a;
    box-shadow: 0 0 1px white, 0 0 3px white;
}

.add-to-workout-btn:hover {
    color: #ee29f5;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.add-to-favourites-btn:hover {
    color: #0080ff;
    box-shadow: 0 0 2px #14072a, 0 0 4px white;
}

.add-to-workout-btn:active, .add-to-favourites-btn:active {
    transform: scale(0.95);
}

/* RESET */
.reset-container {
    align-content: end;
    padding-top: 10px;
}

.reset-btn {
    font-size: 16px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 9999px;
    background: linear-gradient(to right,darkred,red,darkred,darkred,red,darkred);
    background-size: 250%;
    color: white;
    transition-duration: 1s;
}

.reset-btn:hover {
    cursor: pointer;
    background-color: #ff0505;
    background-position: right;
    transition-duration: 0.8s;
}

.reset-btn:active {
    transform: scale(0.5);
}

@media screen and (max-width: 1525px) {
    .exercise-item-container {
        grid-template-columns: 200px repeat(2, 110px) repeat(2, 1fr) 50px;
    }
}

@media screen and (max-width: 1425px) {
    .exercise-item-container {
        grid-template-columns: 150px repeat(2, 110px) repeat(2, 1fr) 50px;
        gap: 10px;
    }
    .exercise-name {
        font-size: 18px;
    }
}