/* EXERCISES CONTAINER */
.exercises-container {
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    justify-items: center;
    padding: 50px 100px;
    color: white;
    background: linear-gradient(#1d1231, #411960);
    padding-bottom: 20px;
}

/* EXERCISE CONTAINER HEADERS */
.workout-preview-header  {
    align-items: end;
    padding-bottom: 30px;
    font-size: 40px;
    height: 100px;
    opacity: 0;
    animation: 1s ease 0.2s forwards fade-in;
}

.exercises-header {
    padding-bottom: 30px;
    font-size: 60px;
    height: 100px;
    opacity: 0;
    animation: 1s ease 0.4s forwards fade-in;
}

/* WORKOUT PREVIEW */
.workout-preview-workout-btn {
    padding: 5px 10px;
    background-color: forestgreen;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    border: none;
    opacity: 0;
    animation: 1s ease 0.3s forwards fade-in;
}

.workout-preview-workout-btn:hover {
    cursor: pointer;
    background-color: #0abb0a;
}

.workout-preview-table {
    opacity: 0;
    animation: 1s ease 0.3s forwards fade-in;
}

/* EXERCISES LIST */
.exercises-list {
    opacity: 0;
    animation: 1s ease 0.5s forwards fade-in;
}

/* INDIVIDUAL EXERCISE ITEM */
.exercise-item-container {
    grid-template-columns: 300px repeat(2, 120px) repeat(3, auto);
    gap: 10px;
    height: 100px;
    align-items: center;
    border-bottom: solid 1px gray;
}

.exercise-name {
    font-size: 26px;
    padding-top: 10px;
    font-weight: bold;
}

/* SETS/REPS */
.sets-container, .reps-container {
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    justify-items: center;
    font-size: 24px;
    align-self: start;
}

.count-container {
    grid-template-columns: repeat(3, auto);
    gap: 7px;
    justify-items: center;
    align-items: center;
}

.count-container > button {
    width: 30px;
    height: 30px;
    align-content: center;
    cursor: pointer;
    border-radius: 4px;
}

.add-btn {
    font-size: 20px;
    background-color: lightseagreen;
    border: solid 1px #0c8781;
}

.add-btn:hover {
    background-color: #00f5e9;
}

.minus-btn {
    font-size: 20px;
    background-color: lightcoral;
    border: solid 1px #810c0c;
}

.minus-btn:hover {
    background-color: red;
}

.current-val {
    place-content: center;
    width: 30px;
    height: 30px;
    font-size: 22px;
    border: solid 1px white;
    border-radius: 4px;
}

/* ADD TO WORKOUT/FAVOURITES BUTTONS */
.exercise-btn-container {
    padding: 10px 10px 0 10px;
    font-size: 22px;
}

.add-to-workout-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #f175f5;
    cursor: pointer;
}

.add-to-workout-btn:hover {
    background-color: #ee29f5;
}

.add-to-favourites-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #439cf6;
    cursor: pointer;
}

.add-to-favourites-btn:hover {
    background-color: #0672df;
}

/* RESET */
.reset-container {
    place-content: center;
    padding-top: 10px;
}

.reset-btn {
    background-color: #c60808;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 9999px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: #ff0505;
}