.header {
    grid-template-columns: auto 1fr 80px;
    gap: 30px;
    padding: 10px 20px;
    align-items: center;
    /* background-color: #080838; */
    background-color : #212020;
    color: white;
    border-bottom: solid 1px #17a4a4;
}

.header-logo {
    place-self: center;
    padding-left: 20px;
    font-size: 50px;
    text-decoration: underline;
}

.header-nav {
    justify-self: end;
}

.header-nav-list {
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    font-size: 30px;
    font-weight: bold;
}

.header-profile {
    height: 70px;
    width: 70px;
    border: solid 1px green;
    background-color: green;
    border-radius: 9999px;
    place-content: center;
}

.header-profile:hover {
  cursor: pointer;
  background-color: darkgreen;
  box-shadow: 0 0 3px white, 0 0 10px white;
}

/* NAV LINKS */
.inactive-link {
    cursor: pointer;
    text-decoration: none;
    color: #181818;
    color: white;
    border-bottom: 3px solid transparent;
}

.inactive-link:hover {
    transform: translateY(-1px);
    text-shadow: 0 0 5px turquoise, 0 0 10px turquoise, 0 0 20px turquoise;
}
 

.active_link {
    cursor: default;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-bottom: 4px solid white;
    transition: border-bottom .5s ease-in-out;
}