/* HOME */
.home {
    min-height: 100vh;
    justify-items: center;
    align-items: center;
    color: white;
    background: linear-gradient(#1d1231, #411960);
    position: relative;
}

.home-cover-menu {
    position: absolute;
    top: -150px;
    bottom: -150px;
    width: 100vw;
    padding: 350px;
    background: linear-gradient(#1d1231, #411960);
    font-size: 100px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.home-cover-menu > p {
    margin-bottom: 100px;
}

.home-cover-menu > p >span {
    text-decoration: underline #07bd07;
}

.click-to-start {
    text-transform: uppercase;
    padding: 10px 40px;
    background-color: #11032a;
    border: none;
    box-shadow: 0 0 1px white, 0 0 3px white;
    border-radius: 100px;
    transition: 0.3s ease;
}

.click-to-start:hover {
    cursor: pointer;
    color: #07bd07;
    box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;
}

.content {
    grid-template-rows: 80px repeat(2, auto);
    gap: 40px;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-items: center;
    padding: 100px 200px;
    color: #fff;
    text-align: center;
    background: linear-gradient(#1d1231, #411960);
}

/* SUB HEADER */
.home-what-to-do-header {
    align-self: end;
    font-size: 80px;
    opacity: 0;
    animation: 1s ease 0.2s forwards fade-in;
}

/* OPTIONS LIST */
.home-options-list {
    place-content: center;
    gap: 30px;
    list-style-type: '🏋️';
    list-style-position: inside;
    padding: 30px;
    opacity: 0;
    animation: 1s ease 0.4s forwards fade-in;
}

.home-options-list > li {
    border:solid 1px #0f0202;
    padding: 10px 15px;
    font-size: 30px;
    letter-spacing: 1px;
    background-color: #0f0202;
    position: relative;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.75);
}

.home-options-list > li:hover {
    cursor: pointer;
    color: white;
}

.home-options-list > li:active {
    transform: scale(0.95);
}

/* GIF */
.home-gif {
    object-fit: cover;
    width: 600px;
    height: 300px;
    border: solid 1px white;
    border-radius: 20px;
    opacity: 0;
    animation: 1s ease 0.6s forwards fade-in;
}

.home-gif-main {
    box-shadow: 0 0 5px cyan, 0 0 20px cyan, 0 0 50px turquoise;
}

.home-gif-alt {
    box-shadow: 0 0 5px lime, 0 0 20px lime, 0 0 50px limegreen;
}
