/* HOME */
.home {
    grid-template-rows: 60px repeat(2, auto) 1fr;
    justify-items: center;
    padding: 50px 200px;
    min-height: 100vh;
    color: white;
    background: linear-gradient(#1d1231, #411960);
}

/* HOME HEADER */
.home-header {
    font-size: 44px;
}

/* SUB HEADER */
.home-what-to-do-header {
    margin-top: 30px;
    font-size: 22px;
    color:#218551;

}

/* OPTIONS LIST */
.home-options-list {
    margin-top: 20px;
    place-content: center;
    gap: 30px;
    list-style-type: '🏋️';
    list-style-position: inside;
    padding: 30px;
}

.home-options-list > li {
    border:solid 1px white;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    transition: 0.6s;
}

.home-options-list > li:hover {
    cursor: pointer;
    color: #00c3ff;
    background-color: #010114;
    border-color: lightskyblue;
    box-shadow: 0 0 5px lightskyblue, 0 0 10px lightskyblue;
    transform: translateX(20px);
}