/* HOME COVER MENU */
.home-cover-menu {
    width: 100vw;
    height: 100vh;
    color: white;
    place-content: center;
    gap: 150px;
    padding: 20px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e, #6a3093);
    background-size: 400% 400%;
    animation: gradientAnimation 14s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0% 50%; }
}

.home-cover-menu > p > span {
    text-decoration: underline #07bd07;
    text-underline-offset: 18px;
    text-decoration-skip-ink: none;
    font-size: 0.8em;
}

.click-to-start {
    text-transform: uppercase;
    padding: 10px 40px;
    background-color: #11032a;
    border: none;
    color: white;
    box-shadow: 0 0 1px white, 0 0 3px white;
    border-radius: 100px;
    transition: 0.3s ease;
}

.click-to-start:hover {
    cursor: pointer;
    color: #07bd07;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .home-cover-menu {
      font-size: 60px;
      gap: 100px;
    }
    .home-cover-menu > p > span {
      text-underline-offset: 14px;
    }
  }

  @media screen and (max-width: 768px) {
    .home-cover-menu {
      font-size: 58px;
      gap: 70px;
    }
    .home-cover-menu > p > span {
      text-underline-offset: 12px;
    }
  }
  
  @media screen and (max-width: 676px) {
    .home-cover-menu {
      font-size: 52px;
      gap: 60px;
    }
    .home-cover-menu > p > span {
      text-underline-offset: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .home-cover-menu {
      font-size: 46px;
    }
    .home-cover-menu > p > span {
      text-underline-offset: 9px;
    }
  }
  
  @media screen and (max-width: 540px) {
    .home-cover-menu {
      font-size: 40px;
      gap: 50px;
    }
    .home-cover-menu > p > span {
      text-underline-offset: 9px;
    }
  }
  
  @media screen and (max-width: 470px) {
    .home-cover-menu {
      font-size: 30px;
      gap: 70px;
    }
    .home-cover-menu > p > span {
      text-underline-offset: 7px;
    }
  }

  @media screen and (max-width: 320px) {
    .home-cover-menu {
      font-size: 24px;
      gap: 50px;
    }
    .home-cover-menu > p > span {
      text-underline-offset: 5px;
    }
  }
  