/* FAVOURITES */
.profile--favourites {
    grid-template-rows: 70px auto;
    gap: 20px;
    padding: 50px;
}

.profile--favourites-header {
    text-align: center;
    font-size: 36px;
}

.profile--favourites-content {
    place-self: center;
    justify-content: center;
    padding: 30px 60px;
    text-align: center;
}

.profile--favourites-headers,
.profile--favourites-exercises  {
    grid-template-columns: 1fr repeat(2, 100px) 1fr 200px;
    gap: 50px;
}

.profile--favourites-headers {
    align-items: center;
    text-decoration: underline;
    color: #ffbf00;
    margin-bottom: 10px;
    font-size: 22px;
}

.profile--favourites-exercises {
    align-items: center;
    font-size: 18px;
    border-bottom: solid 1px black;
    padding: 20px 0;
}

.profile--favourites-add-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: 1px solid #4CAF50;
    border-radius: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile--favourites-add-btn:hover {
    background-color: white;
    border-color: white;
    color: #4CAF50;
}

.profile--favourites-add-btn:active {
    transform: translateY(2px);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    .profile--favourites-content {
        padding: 20px 0;
    }
    .profile--favourites-headers,
    .profile--favourites-exercises  {
        grid-template-columns: 1fr repeat(2, 70px) 1fr 120px;
        gap: 30px;
    }   
    .profile--favourites-headers {
        font-size: 20px;
    }
    .profile--favourites-exercises {
        font-size: 16px;
        padding: 15px 0;
    }
    .profile--favourites-add-btn {
        padding: 8px 10px;
    }
}
